

body {
    background-color: #f4a261;
    /* #264653--darkblue
    #2a9d8f--bluegreen
    #e9c46a--yellow
    #e76f51--orange-ish */
}

main{
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.start-game-modal {

display: flex;
align-items: center;
}

.modal-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}



header{
    position: absolute;
    top:5%;
}



/* .start_btn {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate (-50%, 50%);
} */

section{
    background-color: #2a9d8f;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

#question-wrapper{
    position: absolute;
    top:0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a9d8f;

}
#answer-holder{
    height: 65%;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    background-color: #e76f51;
    justify-content: center;
}

button {
    background-color: #e9c46a;
    color: #264653;
    margin: 4px;
    width: 40%;
    height:auto;
}

#button-start{
    background-color: #2a9d8f;
    color: #264653;
}

#resultBtn {
    background-color:#e9c46a ;
}
#retryBtn {
    background-color:#e76f51 ;
}

.scoreboardResults-container{
    display: flex;
 
}


/* startBtn {
        width: 40%;
        height:auto;

} */